.bac-title-header {
    font-family: "Graphik-Regular", sans-serif;
    color: #E3002B;
    font-weight: bold;
    font-size: 2rem;
}

.bac-title {
    font-family: "Graphik-Regular", sans-serif;
    color: #E3002B;
    font-weight: 600;
    font-size: 1.7rem;
}


.bac-button-highlighted {
    height: 45px;
    background-color: #1075bb;
    color: white;
    border: 1px solid #1075bb;
    border-radius: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.bac-button-highlighted:disabled {
    height: 45px;
    background-color: #749cb9;
    color: white;
    border: 1px solid #749cb9;
    border-radius: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.bac-button-basic {
    height: 45px;
    background-color: #fff;
    border: 1px solid #1075bb;
    color: #1075bb;
    border-radius: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}


